/** {
    margin: 0
}*/

body {
    background-color: rgb(104, 103, 103);
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(66, 38, 92);
}

#final-display {
    border: 1px solid gray;
    border-radius: 2px;
    width: 200px;
    height: 30px;
}

.calculate {
    border: 2px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 0.1fr);
}

.numbers {
    color: rgb(224, 224, 164);
}

.nums {
    height: 6vh;
    width: 7vw;
}
